h1, h2 {
    border-bottom: 1px solid red;
}

figure {
    float: right;
    width: 40%;
    margin-left: 20px;
}
figure img {
    width: 100%;
}
h2 {
    clear: both;
}

div {
    float: left;
    width: 40%;
    margin-right: 20px;
}
div img {
    width: 50%;
}

footer{
    clear: both;
    position: fixed; 
    top: 0;
    right: 0;
    z-index: -1;
}