body {
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 0;
}

footer {
    background-color: #333;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 0;
}

regularText {
    font-family: 'Times New Roman', sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}

#bio {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border: 1px solid #ccc; 
    border-radius: 5px;
}

h1 {
    color: goldenrod;
}

#projects h2 {
    text-align: center;
}

#projects a {
    color: darkgoldenrod;
}

#github {
    text-align: center
}


#contact {
    padding: 10px;
}

footer h3 {
    color: white;
}

#contact h3 {
    color: palegoldenrod;
}

#contact regularText {
    color: #f0f0f0;
    font-size: 14px;
}

#contact a {
    color: dimgray;
}

